.loading {
    background-color: #fff;
}

.debug {
    display: none;
}

.home {
    display: none;
}

.stage {
    display: none;
}

.window {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.debug.window textarea {
    width: 90%;
    height: 300px;
    margin: 1em;
    border: 2px solid #000;
    border-radius: 4px;
}
